body
{
	color: white;
	font-family: 'Arial Black', Gadget, sans-serif;
	background-image: url(../assets/galaxies.jpg);
	background-attachment:fixed;
	background-size: cover;
}	

header
{
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#logo
{
	color : #fdad17;
}

menu
{
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	width: 1300px;
}

menu input
{
	background-color: black;
	border: 1px solid grey;
	color: white;
	height: 40px;
	width: 200px;
}

menu input:hover
{
	border: 1px solid white;
}

#formulaire
{
	color: white;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	background-color: black;
}

#form
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form1
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
}

.form2
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
}

.btn_val
{
	width: 50%;
	margin : 0 auto;
	margin-left: 110px;
}

#inscription
{
	display: flex;
	justify-content: center;
}


#results_films
{
	width: 1200px;
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
}

.all_film
{
	height: 40px;
}

.films
{
	border: 1px solid grey;
	font-weight: bold;
	height: 40px;
	color: rgb(225, 225, 225);
	width: 300px;
	background-color: rgba(0, 0, 0, 0.8);;
}

.films:hover
{
	border: 1px solid white;
}

a
{
	text-decoration: none;
}

#modif
{
	display: flex;
	justify-content: center;
	margin-top: 40px;
}